:root {
    --nav-font: #9aa1b3;
    --nav-font-hover: #0180cd;
    --nav-shadow: #cecece;
    --nav-bgc: #e2f3f5;
    --section-blue: #22d1ee;
    --section-navy_blue: #3d5af1;
    --section-balck_blue: #0e153a;
    --section-bgc-red: #ff304f;
    --section-bgc-grey: #364f6b;
    --section-bgc-purple: #775ada;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e2f3f5;
    height: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
    min-height: 5em;
    padding: 1em;
    position: sticky;
    box-shadow: 3px 3px 15px  var(--nav-font) ;
    background-color: var(--nav-bgc);
}

#left-side-nav {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 10%;
    width: 30%;
}

#right-side-nav {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#left-side-nav img {
    width: 15%;
    margin: 0 1em;
}

ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

li {
    list-style-type: none;
    display: inline-block;
}

li a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    color: var(--nav-font);
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 800;
    padding: 1em;
    transition: 0.125s ease-in-out;
}

li a:hover {
    color: var(--nav-font-hover);
}

section {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

section>article {
    display: flex;
    width: 100%;
    height: 55%;
    color: whitesmoke;
    border-bottom: #e2f3f5 solid 1em;
    align-items: stretch;
    align-items: center;
}

section>article>#left_text {
    display: -ms-flexbox;
    display: -webkit-flex;
    font-size: 1.8em;
    display: flex;
    position: relative;
    width: 60%;
}

section>article>img {
    width: 27%;
    height: 100%;
    position: relative;
    left: -5%;
}

section>article>#left_text>#description{
    position: relative;
    left: 40%;
    color: var(--section-balck_blue);
}

section>article>#left_text>#description::after {
    content:'';
    position: absolute;
    background-color: var(--section-balck_blue);
    width: 1.4%;
    height: 60%;
    top: -25%;
    left:-8%;
   
}

section>article>#left_text>#description::before {
  content:'';
  position: absolute;
  background-color: var(--section-balck_blue);
  width: 18%;
  height: 7.5%;
  top: -25%;
  left:-8%;
 
}

#frame::after {
    content:'';
    position: absolute;
    background-color:var(--section-balck_blue);
    width: 1.4%;
    height: 50%;
    bottom: -30%;
    right:-10%;
   
}

#frame::before {
    content:'';
    position: absolute;
    background-color: var(--section-balck_blue);
    width: 18%;
    height: 7.5%;
    bottom: -30%;
    right:-10%;
}

section>article>#left_text>h1 {
    width: 5%;
    color: var(--section-balck_blue);
    position: relative;
    left: -5%;
}

section>article>#left_text>p {
    width: 27%;
    color: var(--section-balck_blue);
    position: relative;
    left: -5%;
}

section>article>h1 {
    width: 40%;
    font-size: 2.4em;
    color: whitesmoke;
    position: relative;
    text-align: center;
}

section>article>.treatment {
    width: 60%;
    margin: 2%;
    margin-bottom: 3%;
    font-size: 1.4em;
    color: whitesmoke;
    position: relative;
}

h3 {
    margin-top: 1.2em;
}

#skills {
    background-color: var(--section-navy_blue);
}

#experience {
    background-color: var(--section-bgc-red);
}

#interests {
    background-color: var(--section-bgc-grey);
}

#contakt {
    border: solid 0;
    background-color: var(--section-bgc-purple);
}

#logomar {
    position: relative;
    left: -15%;
    width: 20%;
}

#ccig {
    position: relative;
    left: 15%;
    width: 15%;
}

#wasm {
    position: relative;
    left: -15%;
    width: 10%;
    margin: 1em;
}

#performance {
    position: relative;
    left: -5%;
    width: 15%;
    margin: 0.5em;
}

#teaching {
    position: relative;
    left: 5%;
    width: 15%;
    margin: 0.5em;
}

#game {
    position: relative;
    left: 15%;
    width: 15%;
    margin: 0.5em;
}

#per {
    position: relative;
    left: 15%;
    width: 15%;
}

#about_me {
    height: 100%;
    background-color: #e2f3f5;
	border-bottom: solid 0;
}

picture {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}

#happy {
    width: 20%;
}

a {
    text-decoration: none;
}

.contact_logo {
    width: 5%;
    margin-right: 2%;
}

.contact_logo:hover {
    color: #6fdaee;
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
    transition: 1.5s;
}

@media (max-width: 1400px) {
    nav {
        align-items: center;
        flex-direction: column;
    }

    #left-side-nav {
        display: flex;
        justify-content: center;
        width: 80%;
        left: 0;
    }

    #left-side-nav img {
        visibility: visible;
        width: 12%;
        margin: 0.1em;
        transition: 1s;
    }

    #right-side-nav {
        width: 100%;
    }

    section>article>img {
        width: 40%;
    }

    section>article>#left_text {
        font-size: 1.4em;
        left: -7%;
        transition: 1s;
    }

    section>article>h1 {
        font-size: 1.5em;
    }
}

@media (max-width: 800px) {
    ul {
        flex-wrap: nowrap;
    }

    li a {
        font-size: 0.7em;
    }

    #left-side-nav {
        display: none;
    }

    section>article>img {
        width: 40%;
    }

    section>article>#left_text {
        font-size: 1em;
        left: -10%;
        transition: 1s;
    }

    section>article>h1 {
        font-size: 1.2em;
    }
}

@media (max-width: 600px) {
    ul {
        flex-wrap: nowrap;
    }

    li a {
        font-size: 0.5em;
    }

    #left-side-nav {
        display: none;
    }

    section>article>img {
        width: 30%;
    }

    section>article>#left_text {
        font-size: 0.6em;
        left: -10%;
        transition: 1s;
    }

    section>article>h1 {
        font-size: 1em;
    }

    section>article>.treatment {
        width: 65%;
        margin: 2%;
        margin-bottom: 3%;
        font-size: 0.9em;
        color: whitesmoke;
        position: relative;
    }
    section>article>.treatment>p {
        margin: 5%;
    }

@media (max-width: 400px) {
    ul {
        flex-wrap: nowrap;
    }

    li a {
        font-size: 0.45em;
    }

    #left-side-nav {
        display: none;
    }

    section>article>img {
        width: 30%;
    }

    section>article>#left_text {
        font-size: 0.6em;
        left: -10%;
        transition: 1s;
    }

    section>article>h1 {
        font-size: 0.8em;
    }

    section>article>.treatment {
        width: 65%;
        margin: 2%;
        margin-bottom: 3%;
        font-size: 0.7em;
        color: whitesmoke;
        position: relative;
    }
    section>article>.treatment>p {
        margin: 5%;
    }
}